@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


details summary::-webkit-details-marker {
  display: none;
}

@theme {
  --animate-typing: typing 2.5s steps(20, end) infinite alternate, blink 0.8s infinite alternate;

  @keyframes typing {
    0% {
      width: 0;
    }

    40% {
      width: 100%;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes blink {
    0% {
      border-color: inherit;
    }
    40% {
      border-color: inherit;
    }
    60% {
      border-color: none;
    }
    100% {
      border-color: none;
    }
  }

  
}